<main>
    <header>
        <img class="logo" src="./assets/img/Home-Workspaces.svg" alt="Logo" />
        <div class="input-wrapper">
            <input type="text" placeholder="Devspace durchsuchen" />
            <div class="search-icon">
                <img class="icon-default" src="./assets/img/icons/search-default.svg" alt="Suchen">

                <img class="icon-hover" src="./assets/img/icons/search.svg" alt="">
            </div>

        </div>
        <div class="profile-wrapper" (click)="toggleProfileMenu()">
            <p>Frederik Beck</p>
            <div class="profile-picture-div">
                <img class="profile-picture" src="./assets/img/avatar/Property 1=Elias Neumann.png" alt="Profilbild">
                <img class="online-dot" src="./assets/img/icons/Online.svg" alt="Online dot">
            </div>

            <div class="arrow-icon">
                <img class="icon-default" src="./assets/img/icons/arrow.svg" alt="Suchen">

                <img class="icon-hover" src="./assets/img/icons/arrow-hover.svg" alt="">
            </div>
        </div>
        @if (profileMenuOpen) {
  <div class="overlay" (click)="closeProfileMenu()">

    <div class="profile-menu" (click)="$event.stopPropagation()">
      <button>Profil</button>
      <button>Log out</button>
    </div>

  </div>
}
    </header>
</main>